@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Nova+Mono);

body {
  background-color: black;
  color: white;
  padding: 40px;
  font-family: 'Cutive Mono';
}

textarea {
  font-family: 'Nova Mono';
  background-color: antiquewhite;
  color: black;
  border-radius: 10px;
  &:focus {
    -webkit-appearance: none;
    box-shadow: inset 0 0 1px 0px;
    outline:0px !important;
  }
}


a {
  color: greenyellow;
}
